.minimalRow td:first-child div {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.minimalRow td:first-child,
.minimalRow th:first-child {
  padding-left: 16px;
}

.minimalRow td:last-child div {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.minimalRow td:last-child,
.minimalRow th:last-child {
  padding-right: 16px;
}

.minimalRow td div,
.minimalRow th div {
  padding-left: 8px;
  padding-right: 8px;
}

.mutedRow td div {
  background-color: var(--surface-muted2);
}

.minimalTbody tr:last-child td {
  padding-bottom: 16px;
}

.plainRow td {
  padding: 16px 24px;
  background-color: transparent;
}

.plainTbody tr:last-child {
  border: none;
}
