@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
  caret-color: var(--info);
}

@layer components {
  .hover {
    @apply hover:opacity-[var(--hover-opacity)] transition-opacity;
  }

  .disabled {
    @apply disabled:cursor-not-allowed disabled:opacity-[var(--hover-opacity)];
  }

  .center {
    @apply flex items-center justify-center;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

body {
  --disabled-opacity: 0.4;
  --hover-opacity: 0.7;

  --text-sm: 12px;
  --text-md: 16px;
  --text-lg: 24px;
  --text-xl: 32px;
  --text-2xl: 40px;
}

body {
  --background: #f2f2f7;
  --foreground: #000;
  --foreground-muted: #595959;
  --surface: #fff;
  --surface-muted1: #e0dfe0;
  --surface-muted2: #f1f1f2;
  --border: #c6c6c8;

  --info: #007aff;
  --info-muted: rgba(0, 122, 255, 0.2);
  --alert: #ff453a;
  --alert-muted: rgba(255, 69, 58, 0.2);
  --warning: #ff9500;
  --warning-muted: rgba(255, 149, 0, 0.2);
  --success: #28cd41;
  --success-muted: rgba(40, 205, 65, 0.2);
  --on-status: #fff;

  --yellow: #ffcc00;
  --yellow-muted: rgba(255, 204, 0, 0.2);
  --mint: #00c7be;
  --mint-muted: rgb(0, 199, 190, 0.2);
  --teal: #59adc4;
  --teal-muted: rgba(89, 173, 196, 0.2);
  --cyan: #55bef0;
  --cyan-muted: rgba(85, 190, 240, 0.2);
  --indigo: #0256d6;
  --indigo-muted: rgba(2, 86, 214, 0.2);
  --purple: #af52de;
  --purple-muted: rgba(175, 82, 222, 0.2);
  --pink: #ff2d55;
  --pink-muted: rgba(255, 45, 85, 0.2);
  --brown: #a2845e;
  --brown-muted: rgb(162, 132, 94, 0.2);
}

body.dark {
  --background: #000;
  --foreground: #fff;
  --foreground-muted: #98989f;
  --surface: #1c1c1e;
  --surface-muted1: #38383b;
  --surface-muted2: #323137;
  --border: #545458;

  --info: #0a84ff;
  --info-muted: rgba(10, 132, 255, 0.2);
  --alert: #ff453a;
  --alert-muted: rgba(255, 69, 58, 0.2);
  --warning: #ff9f0a;
  --warning-muted: rgba(255, 159, 10, 0.2);
  --success: #32d74b;
  --success-muted: rgba(50, 215, 75, 0.2);
  --on-status: #fff;

  --yellow: #ffd60a;
  --yellow-muted: rgba(255, 214, 10, 0.2);
  --mint: #66d4cf;
  --mint-muted: rgba(102, 212, 207, 0.2);
  --teal: #6ac4dc;
  --teal-muted: rgba(106, 196, 220, 0.2);
  --cyan: #5ac8f5;
  --cyan-muted: rgba(90, 200, 245, 0.2);
  --indigo: #5e5ce6;
  --indigo-muted: rgba(94, 92, 230, 0.2);
  --purple: #bf5af2;
  --purple-muted: rgba(191, 90, 242, 0.2);
  --pink: #ff375f;
  --pink-muted: rgba(255, 55, 95, 0.2);
  --brown: #ac8e68;
  --brown-muted: rgba(172, 142, 104, 0.2);
}
