@tailwind base;
@tailwind components;
@tailwind utilities;


input, textarea {
  caret-color: var(--info);
}

@layer components {
  .hover {
    @apply hover:opacity-[var(--hover-opacity)] transition-opacity;
  }

  .disabled {
    @apply disabled:cursor-not-allowed disabled:opacity-[var(--hover-opacity)];
  }

  .overlay {
    @apply bg-overlay backdrop-blur-[16px] z-10;
  }

  .center {
    @apply flex items-center justify-center;
  }
}


:root {
  --disabled-opacity: 0.4;
  --hover-opacity: 0.7;
}

:root {
  --background: #f2f2f7;
  --foreground: #000;
  --foreground-muted: #595959;
  --surface: #fff;
  --surface-muted1: #e0dfe0;
  --surface-muted2: #f1f1f2;
  --overlay: rgba(255, 255, 255, 0.8);
  --border: #c6c6c8;

  --info: #007AFF;
  --info-muted: rgba(0, 122, 255, 0.2);
  --alert: #FF453A;
  --alert-muted: rgba(255, 69, 58, 0.2);
  --warning: #FF9500;
  --warning-muted: rgba(255, 149, 0, 0.2);
  --success: #28CD41;
  --success-muted: rgba(40, 205, 65, 0.2);
  --on-status: #fff;

  --yellow: #FFCC00;
  --yellow-muted: rgba(255, 204, 0, 0.2);
  --mint: #00C7BE;
  --mint-muted: rgb(0, 199, 190, 0.2);
  --teal: #59ADC4;
  --teal-muted: rgba(89, 173, 196, 0.2);
  --cyan: #55BEF0;
  --cyan-muted: rgba(85, 190, 240, 0.2);
  --indigo: #0256D6;
  --indigo-muted: rgba(2, 86, 214, 0.2);
  --purple: #AF52DE;
  --purple-muted: rgba(175, 82, 222, 0.2);
  --pink: #FF2D55;
  --pink-muted: rgba(255, 45, 85, 0.2);
  --brown: #A2845E;
  --brown-muted: rgb(162, 132, 94, 0.2);
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
    --foreground-muted: #eaeaea;
    --surface: #1c1c1e;
    --surface-muted1: #38383B;
    --surface-muted2: #2c282e;
    --overlay: rgba(28, 28, 30, 0.8);
    --border: #545458;
  
    --info: #0A84FF;
    --info-muted: rgba(10, 132, 255, 0.2);
    --alert: #FF453A;
    --alert-muted: rgba(255, 69, 58, 0.2);
    --warning: #FF9F0A;
    --warning-muted: rgba(255, 159, 10, 0.2);
    --success: #32D74B;
    --success-muted: rgba(50, 215, 75, 0.2);
    --on-status: #fff;
  
    --yellow: #FFD60A;
    --yellow-muted: rgba(255, 214, 10, 0.2);
    --mint: #66D4CF;
    --mint-muted: rgba(102, 212, 207, 0.2);
    --teal: #6AC4DC;
    --teal-muted: rgba(106, 196, 220, 0.2);
    --cyan: #5AC8F5;
    --cyan-muted: rgba(90, 200, 245, 0.2);
    --indigo: #5E5CE6;
    --indigo-muted: rgba(94, 92, 230, 0.2);
    --purple: #BF5AF2;
    --purple-muted: rgba(191, 90, 242, 0.2);
    --pink: #FF375F;
    --pink-muted: rgba(255, 55, 95, 0.2);
    --brown: #AC8E68;
    --brown-muted: rgba(172, 142, 104, 0.2);
  }
} */